* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #2f3e74;
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 10px solid white;
    background-color: white;
    border-radius: 100%;
    width: 500px;
    height: 500px;
}

.blue {
    grid-area: azul;
    background-color: #3258e3;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: #db3131;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: #ffd400;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: #38af38;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.5;
}


@media (max-width: 500px) {
  .genius {
    width: 250px;
    height: 250px;

    grid-gap: 5px;
    border: 5px solid white;
  }
}
